@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #acacac;
  --foreground: #ffffff;
  --highlight: #ffffff;
  --shadow: #585858;

  /* --background: #a1a1a1;
  --foreground: #ffffff;
  --highlight: #ffffff;
  --shadow: #a7a7a7; */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Monospace, serif;
}

h1 {
  @apply px-2;
  /* font-family: "Verdana", serif; */
  font-size: 16px;
  transition: all 0.3s;
}

P {
  @apply px-2;
  font-size: 12px;
  transition: all 0.3s;
}

a {
  text-decoration: underline;
}

.card {
  @apply w-[90vw] h-[56vw] sm:w-[400px] sm:h-[250px];

  padding: 10px;
  filter: drop-shadow(0 0 14px #777777);
  background-color: var(--foreground);
  box-shadow: -1px -1px 0.2em var(--highlight), 1px 1px .2em var(--shadow);
  transition: all 1s;
  font-size: 12px;
  color: var(--shadow);
}

button {
  @apply px-2;
  font-size: 14px;
  color: #414040;
  background-color: var(--background);
  border-radius: 2px;
  box-shadow: -1px -1px 0.2em var(--highlight), 1px 1px .2em var(--shadow);
  /* transition: all 0.2s; */
}

button.selected {
  box-shadow: -1px -1px 0.2em var(--shadow), 1px 1px .2em var(--highlight);
}

form {
  width: 400px;
}

input {
  @apply px-2;
  font-size: 14px;
  color: #000000;
  background-color: var(--background);
  border-radius: 2px;
  box-shadow: -1px -1px 0.2em var(--shadow), 1px 1px .2em var(--highlight);
}

.card input,
.card button {
  background-color: var(--foreground);
}

.analog {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.digital {
  box-shadow: -1px -1px 0.2em var(--highlight), 1px 1px .2em var(--shadow);
}

.card:hover {
  box-shadow: -1px -1px 0.2em #a6a6a6, 1px 1px .2em #ffffff;
}

.hide-scrollbar::-webkit-scrollbar, 
.hide-scrollbar::-webkit-scrollbar-track,
.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.social {
  position: relative;
}

.social::before {
  content: "@clubotomy";
  top: 0.5px;
  left: 0.5px;
  position: absolute;
  color: #00000027;
  filter: blur(4px);
  z-index: -1;
}

.emaillist .mastfoot {
  display: none !important;
}

[data-form="e8b8252a-f492-11ef-bb03-1da31e7a2d67"] .main-form {
  @apply mx-4;
}

[data-form="e8b8252a-f492-11ef-bb03-1da31e7a2d67"] .emailoctopus-form-wrapper {
  @apply !mt-0;
}

[data-form="e8b8252a-f492-11ef-bb03-1da31e7a2d67"] input {
  @apply !px-[4px] !py-[1px];
  font-size: 14px !important;
  color: var(--shadow) !important;
  background-color: var(--foreground) !important;
  border-radius: 2px !important;
  border: none !important;
  border-color: none !important;
  /* padding: 0px !important; */
  height: auto !important;
  line-height: normal !important;
  box-shadow: -1px -1px 0.2em #bdbdbd, 1px 1px .2em var(--highlight) !important;
}

[data-form="e8b8252a-f492-11ef-bb03-1da31e7a2d67"] .emailoctopus-form input[type=submit] {
  @apply !px-2 !py-[1px];
  font-size: 14px !important;
  color: var(--shadow) !important;
  background-color: var(--foreground) !important;
  border-radius: 2px !important;
  border: none !important;
  border-color: none !important;
  box-shadow: -1px -1px 0.2em #bdbdbd, 1px 1px .2em var(--highlight) !important;
}

.custom-scrollbar{
  background: #e1e1e1;
  border-radius: 10px;
  height: 12px;
}

.custom-scroll-control{
  background: linear-gradient(180deg, #ffffff, #7bc9cd);
  border-radius: 10px;
  box-shadow: inset 0px 0px 8px rgba(90, 111, 118, 0.8),
    0px 0px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 50%;
}